$color_1: indigo;
$color_2: blue;
$color_3: #fafafa;
$font-family_1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$background-color_1: rgb(212, 173, 230);
$background-color_2: #fafafa;
$background-color_3: grey;
$border-color_1: rgb(255, 255, 255);
$border-color_2: indigo;